.vscode/** linguist-documentation
lib/** linguist-vendored
lib/** -diff

assets/** linguist-vendored
assets/** linguist-generated=true
assets/** -diff

assets/** linguist-vendored
assets/** linguist-generated=true
assets/** -diff